
/*
    import css styles
*/
@import url(https://css-ui.github.io/css/cssui/1.0.2/css.ui.min.css);
@import url(style.sign.in.css);

/*
    elements
*/
body {
    background-color: #f4f4f4;
         font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	     padding: 10px 10px 0;
}
