
/*
    import css styles
*/
@import url(css.ui.min.css);

/*
    elements
*/
body {
    background-color: #f4f4f4;
         font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
	     padding: 10px 10px 0;
}

/*
    form
*/
.sign.in [type="email"],
.sign.in [type="password"] {
    position: relative;
      margin: 0 0 -1px;
         top: -1px;
}

.sign.in [type="email"] {
    border-bottom-right-radius: 0;
     border-bottom-left-radius: 0;

}

.sign.in [type="password"] {
    border-top-right-radius: 0;
     border-top-left-radius: 0;
}

.sign.in [type="submit"] {
    margin-top: 15px;
}

.sign.in [type="email"],
.sign.in [type="password"],
.sign.in [type="submit"] {
    height: 38px;
}

.sign.in input:focus{ z-index: 3; }
.sign.in input:first-child { top: -7px; }

/*
    layout
*/
div.container {
    border-radius: 3px;
        max-width: 300px;
	  padding: 25px 25px 0;
}

div.footer {
    color: #7f7f7f;
}

@media only screen and (min-width: 768px) {

    body {
	padding-top: 70px;
    }

    div.container {
	max-width: 380px;
    }

    .sign.in [type="email"],
    .sign.in [type="password"],
    .sign.in [type="submit"] {
	height: 46px;
    }

}

@media only screen and (min-width: 1170px) {

    body {
	padding-top: 150px;
    }

}
